html {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: #ffca8e;
    line-height: 1.5;
    word-break: break-word;
    
    background-image: url(../img/tiles.jpg);
    background-size: cover;
    background-attachment:fixed;
}

.flags {
    margin: auto 0;
    width: 4.5rem;
    display: flex;
    justify-content: space-between;
    
}

.flags > * {
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.flags > *:hover {
    cursor: pointer;
}

#probably {
    color: #f60;
}

.button:hover {
    border: 5px solid #ff880066;
    border-radius: 3px;
    background-color: #f60;
    color: #ffca8e;
}

.gallery:hover span {
    display: none
  }
  
.gallery:hover:before {
    content: "пусто :("
  }

.darkglass {
    text-align: center;
    padding: 25px;
    /*margin: 30px 40px;*/
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-around;
}

.divider {
    display: none;
}

.doc > * {
    margin: 0 40px;
}

p {
    color: #f80;
    font-size: 0.8rem;
    font-weight: 700;
}

a {
    color:#ffac4d;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid #ff880066;
    padding: 5px;
    
}

ul {
    
    list-style-position: inside;
    list-style-type: disc;
}

.name {
    margin: auto;
    font-size: 1.8rem;
}

@media only screen and (min-width: 1000px) {
    /*NOT mobile*/
    .darkglass {
        display: flex;
        margin-bottom: 4vh;
    }
 

    .divider {
        display: block;
        border-left: 3px solid #ff8800b9;
    }

    .doc {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .bottom {
        margin-bottom: 0;
    }
    .mid {
        flex: 1;
    }
    .about {
        width: 33%;
        padding: 1.5rem;
    }

    .flags {
        flex-direction: column;
    }
}